header.menu-header
      
      //Menu
      div.menu 

        ul
          li
            a(href='http://medium.com/@aubinlrx') Blog
          li
            a(href='http://github.com/aubinlorieux') Projects
          li 
            a(href=base_url('/about')) About
          li 
            a(href='http://twitter.com/aubinlrx') Twitter
      
      //Logo AubinDesign
      div.img
        img(src=base_url('/assets/img/logo2.png') alt="AD logo")
